@model IEnumerable<QuanLyCaThi.Models.ListRegisted>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <b>Danh sách Sinh viên (@ViewBag.countStudent)</b>
    <a class="btn btn-primary w3-right w3-card-4 w3-margin-left" asp-action="Create">+ Add</a>
</div>
<hr>
<div class="w3-row">
    <form asp-action="Index">
        <input type="text" name="keySearch" class="w3-input w3-border w3-border-blue w3-round w3-col l3" placeholder="Nhập mã hoặc tên sinh viên">
        <input type="submit" class="w3-input w3-border w3-border-blue w3-round w3-col l1 w3-margin-left w3-white w3-hover-aqua" value="Search">
    </form>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamTime.ExamTimeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListRegistedID">Chuyển ca thi</a>
            </td>
        </tr>
}
    </tbody>
</table>
