@model StudentSubjectVM
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <b>Danh sách Sinh viên (@ViewBag.countStudent)</b>
    <a class="btn btn-primary w3-right w3-card-4 w3-margin-left" asp-action="Create">+ Add</a>
    <a class="btn btn-success w3-right w3-card-4" asp-action="Upload">Upload</a>
</div>
<hr>
<div class="w3-row">
    <form asp-controller="Student" asp-action="Index" method="post">
        <div class="w3-col l3 w3-margin-right">
            <input type="text" placeholder="Enter key word to search" class="w3-input w3-border w3-border-blue w3-round" name="keySearch">
        </div>
        <div class="w3-col l3 w3-margin-right">
            
            <select onchange="GetSubjectGroupBySubjectID();" name="sID" id="SubjectID" class="w3-select w3-border w3-round w3-white w3-padding w3-mobile w3-large w3-margin-right">
                <option value="">Chọn môn học</option>
                @foreach (var subject in Model.Subject)
                {
                    <option value="@subject.SubjectID">@subject.SubjectName</option>
                }
            </select>
        </div>
        <div class="w3-col l3 w3-margin-right" id="SubjectGroup"></div>
        <button class="w3-col l1 w3-btn w3-border w3-border-blue w3-round w3-card-4" type="submit">Lọc</button>
    </form>
</div>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>StudentCode</label>
            </th>
            <th>
                <label>FirstName</label>
            </th>
            <th>
                <label>LastName</label>
            </th>
            <th>
                <label>FullName</label>
            </th>
            <th>
                <label>SubjectGroup</label>
            </th>
            <th>
                <label>Dự thi</label>
            </th>
            <th>
                <label>Học phần</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentID">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
